<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.redprototype1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/red"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/red_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".injury_sus"></activity>
        <activity android:name=".Diagnose_unconscious" />
        <activity android:name=".Diagnose_shock_cardiogenic" />
        <activity android:name=".Diagnose_shock_anaphylaxis" />
        <activity android:name=".Diagnose_shock_sepsis" />
        <activity android:name=".Diagnose_shock" />
        <activity android:name=".Diagnose_dehydration" />
        <activity android:name=".Diagnose_dehydration_caton" />
        <activity android:name=".Diagnose_CaA" />
        <activity android:name=".Diagnose_WaA" />
        <activity android:name=".Diagnose_extremity" />
        <activity android:name=".outsideactivity" />
        <activity android:name=".limbinjury_three" />
        <activity android:name=".limbinjury_two" />
        <activity android:name=".torsoinjury_two" />
        <activity android:name=".torsoinjury_no" />
        <activity android:name=".limbinjury_one" />
        <activity android:name=".torsoinjury_one" />
        <activity android:name=".injury_one" />
        <activity android:name=".dehydrationthree" />
        <activity android:name=".dehydrationtwo" />
        <activity android:name=".possibleshocksix" />
        <activity android:name=".possibleshockfive" />
        <activity android:name=".possibleshockfour" />
        <activity android:name=".possibleshockthree" />
        <activity android:name=".possibleshocktwo" />
        <activity android:name=".generalshockfour" />
        <activity android:name=".generalshockthree" />
        <activity android:name=".possibleshockone" />
        <activity android:name=".generalshocktwo" />
        <activity android:name=".upright" />
        <activity android:name=".dehydrationone" />
        <activity android:name=".generalshockone" />
        <activity android:name=".maindiagnose_six" />
        <activity android:name=".maindiagnose_five" />
        <activity android:name=".bodytempdiagnose" />
        <activity android:name=".maindiagnose_four" />
        <activity android:name=".pulsediagnose" />
        <activity android:name=".chestfollow" />
        <activity android:name=".stomachachefollow_two" />
        <activity android:name=".stomachachefollow" />
        <activity android:name=".maindiagnose_three" />
        <activity android:name=".uncomfortablefeeling" />
        <activity android:name=".injuryfollow_two" />
        <activity android:name=".injuryfollow_one" />
        <activity android:name=".maindiagnose_two" />
        <activity android:name=".maindiagnose_one" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Diagnosis" />
    </application>

</manifest>